@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@layer base {
  body {
    @apply w-full h-screen text-gray-600 bg-gradient-to-r from-[#f5f7fa] to-[#c3cfe2];
    @apply dark:bg-gray-800;
  }
}
